a {
  transition: 350ms;
}

a:link {
  text-decoration: none;
.cards-container a:link {
  color: var(--link-color);
}

.cards-container a:visited {
  color: var(--link-color);
}

.cards-container a:hover {
  color: var(--link-color);
}

.cards-container a:active {
  color: var(--link-color);
}
