@use 'variables' as *;

a {
  transition: 350ms;
}

a:link {
  text-decoration: none;
}

.cards-container a:link {
  color: $link-color;
}

.cards-container a:visited {
  color: $link-color;
}

.cards-container a:hover {
  color: $link-color;
  border-top-right-radius: $common-radius;
  border-bottom-right-radius: $common-radius;
  border-bottom-left-radius: $common-radius;
  box-shadow: 4px 4px 4px $font-awesome-icon-color;
}

.cards-container a:active {
  color: $link-color;
}

@media screen and (max-width: 860px) {
  .cards-container a:hover {
    box-shadow: none;
  }
}
