@use 'variables' as *;

a {
  transition: 350ms;

  &:link {
    text-decoration: none;
  }
}

.cards-container {
  a {
    &:link {
      color: $link-color;
    }

    &:visited {
      color: $link-color;
    }

    &:hover {
      color: $link-color;
      border-top-right-radius: $common-radius;
      border-bottom-right-radius: $common-radius;
      border-bottom-left-radius: $common-radius;
      box-shadow: 4px 4px 4px $font-awesome-icon-color;
    }

    &:active {
      color: $link-color;
    }
  }
}

@media (max-width: $tablet) {
  .cards-container a:hover {
    box-shadow: none;
  }
}
