@use "sass:math";

$common-radius: 10px;

// Font weights
$light: 300;
$medium: 500;

// Grid-related
$grid-column: 60px;
$grid-gutter: math.div($grid-column, 3);
$grid-unit: $grid-column + $grid-gutter;

// Padding
$vertical-padding: 12px;
$general-padding: 20px;

// Colors
$primary-color: #333;

:root {
  --font-awesome-icon-color: rgb(81, 81, 147); /* #b7859c; */
  --link-color: #2f4f4f;
}
