@use 'variables' as *;
@use 'headings' as *;
@use 'links' as *;
@use 'cards' as *;

body {
  width: calc(12 * var(--grid-unit));
  margin: 0 auto;
  color: var(--primary-color);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: $light;
  background: hsla(186, 33%, 94%, 1);
  background:         linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  background:    -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);
}

h2, h3,
p:not(.cards-container > div > a > p),
ul,
.cards-container > div {
  background-color: rgba(255, 255, 255, .25);
  border-radius: $common-radius;
}

p,
ul {
  text-align: left;
  padding: var(--general-padding);
}

ul li {
  margin-left: var(--grid-gutter);
}

section:not(:first-of-type) {
  margin-top: 120px;
}

.fa-github,
.fa-link,
.fa-file-pdf {
  font-size: calc(5 * 1rem);
  color: var(--font-awesome-icon-color);
  padding-top: calc(2 * var(--general-padding));
}

@media screen and (max-width: 1080px) {
  body {
    width: calc(10 * var(--grid-unit));
  }
}

@media screen and (max-width: 860px) {
  body {
    width: auto;
  }

  .fa-github,
  .fa-link,
  .fa-file-pdf {
    font-size: calc(2 * 1rem);
    padding-top: calc(1 * var(--general-padding));
  }
}
